{% extends "layout.html" %}

{% block title %}
Add Word
{% endblock %}

{% block main %}
  <h2>Add word</h2>
  <form action="/add" method="post" class="px-3">
    <div class="form-group my-3">
      <label for="word">Word</label>
      <input name="word" class="form-control bg-dark text-white" id="word" placeholder="Word">
    </div>
    <div class="form-group my-3">
      <label for="def">Definition</label>
      <textarea name="def" class="form-control bg-dark text-white" id="def" placeholder="Definition"></textarea>
    </div>
    <button class="btn btn-primary my-2">Add</button>
  </form>
{% endblock %}
