{% extends "layout.html" %}

{% block title %}
Add term
{% endblock %}

{% block main %}
  <h2>Add term</h2>
  <form action="/add" method="post" class="px-3">
    <div class="form-group my-3">
      <label for="term">term</label>
      <input required name="term" class="form-control bg-dark text-white" id="term" placeholder="term">
    </div>
    <div class="form-group my-3">
      <label for="def">Definition</label>
      <textarea required name="def" class="form-control bg-dark text-white" id="def" placeholder="Definition"></textarea>
    </div>
    <div class="form-group my-3">
      <label for="type">Type</label>
      <select required name="type" class="form-control bg-dark text-white" id="type">
        <option selected value="" disabled>SELECT TERM TYPE</option>
        <option value="adjective">Adjective</option>
        <option value="noun">Noun</option>
        <option value="phrase">Phrase</option>
        <option value="adverb">Adverb</option>
      </select>
    </div>
    <button class="btn btn-primary my-2">Add</button>
  </form>
{% endblock %}
