{% from "wordListItem.html" import wordListItem %}
{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}


{% block main %}
  <h1>FlaskDictionary</h1>
  <div class="input-group mb-3">
    <input type="text" class="form-control bg-dark text-white" placeholder="Search word..." aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-success" type="button">Go</button>
    </div>
  </div>
  <a href="/add"><button class="btn btn-sm btn-secondary">Add Word</button></a>
  <ul class="list-unstyled d-flex">
    {% for row in rows %}
      {{ wordListItem(row) }}
    {% endfor %}
  </ul>

{% endblock %}
