{% from "components/termListItem.html" import termListItem %}
{% from "components/searchBar.html" import searchBar %}
{% extends "layout.html" %}

{% block title %}
Search - {{ keyword }}
{% endblock %}


{% block main %}
  <h1>Search Results for "{{ keyword }}"</h1>
  {{ searchBar(keyword, selectedType) }}
  <a href="/">
    <button class="btn btn-sm btn-light">Home</button>
  </a>
  <a href="/add">
    <button class="btn btn-sm btn-secondary">Add term</button>
  </a>
  {% if hasItems %}
    <ul class="list-unstyled d-flex justify-content-center" style="width: 100%; flex-wrap: wrap;">
      {% for row in rows %}
        {{ termListItem(row) }}
      {% endfor %}
    </ul>
  {% else %}
    <h5 style="margin: 20px;">No terms were found...</h5>
  {% endif %}
{% endblock %}
