{% from "components/wordListItem.html" import wordListItem %}
{% from "components/searchBar.html" import searchBar %}
{% extends "layout.html" %}

{% block title %}
Search - {{ keyword }}
{% endblock %}


{% block main %}
  <h1>Search Results for "{{ keyword }}"</h1>
  {{ searchBar() }}
  <a href="/">
    <button class="btn btn-light">Home</button>
  </a>
  <a href="/add">
    <button class="btn btn-sm btn-secondary">Add Word</button>
  </a>
  {% if hasItems %}
    {% for row in rows %}
      {{ wordListItem(row) }}
    {% endfor %}
  {% else %}
    <h5>No words were found.</h5>
  {% endif %}
{% endblock %}
