{% extends "layout.html" %}

{% block title %}
{{ row[1] }}
{% endblock %}

{% block main %}
  <h2>{{ row[1][0]|upper}}{{ row[1][1:] }}</h2>
  <p>{{ row[2] }}</p>
  <button data-wordId={{ row[0] }} id="del-word-button" class="btn btn-danger">Delete word</button>
  <script>
    const button = document.querySelector("#del-word-button");
    button.addEventListener("click", async () => {
      const response = confirm("Are you sure to delete this word?");
      if (response) {
        // do stuff here
        const result = await fetch("/delete-word", {
          method: "DELETE",
          body: JSON.stringify({
            wordId: button.getAttribute("data-wordId")
          })
        })

        if (result.ok) {
          window.location.replace("/");
        } else {
          alert((await result.json()).error);
        }

      }
    })
  </script>
{% endblock %}
