{% extends "layout.html" %}

{% block title %}
{{ row[1] }}
{% endblock %}

{% block main %}
  <h1>{{ row[1][0]|upper}}{{ row[1][1:] }}</h1>
  <h5><i>{{ row[4] }}</i></h5>
  <p>{{ row[2] }}</p>
  <button data-wordId={{ row[0] }} id="del-word-button" class="btn btn-danger">Delete word</button>
  <a href="/edit/{{ row[1] }}">
    <button class="btn btn-info">Edit Word</button>
  </a>
  <a href="/">
    <button class="btn btn-success">Home</button>
  </a>

  <script>
    const deleteButton = document.querySelector("#del-word-button");
    deleteButton.addEventListener("click", async () => {
      const response = confirm("Are you sure to delete this word?");
      if (response) {
        const result = await fetch("/delete-word", {
          method: "DELETE",
          body: JSON.stringify({
            wordId: deleteButton.getAttribute("data-wordId")
          })
        })

        if (result.ok) {
          window.location.replace("/");
        } else {
          alert((await result.json()).error);
        }

      }
    })
  </script>
{% endblock %}
